.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  inset-inline-start: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-color: unset;
  width: var(--nav-bar-width) !important;
  max-width: var(--nav-bar-width) !important;
  border-right: 1px solid #efefef;

  & ul {
    border: none !important;
    font-weight: 500;
  }

  & li {
    margin-bottom: 0.25rem !important;
  }
}

.layout_content {
  position: relative;
  left: var(--nav-bar-width) !important;
  width: calc(100% - var(--nav-bar-width));
}
